<div class="container" (click)="ClearSelection()">
  <div class="item"
       [hidden]="!(formGroup.value.showOriginalImage)" >
    <p>來源:
      <a href="{{ photo.source }}">
        {{ photo.source }}
      </a>
    </p>
    <img #img crossOrigin="anonymous"
      src="{{ GetURL(photo) }}"
      [ngClass]="{'img': processTextAnnotationDone}" >
  </div>
  <div class="item">
    <div *ngIf="processTextAnnotationDone">
      <button mat-raised-button color="warn" (click)="ClearSelection()">
        取消選取區域
      </button>
      <button mat-raised-button color="primary" (click)="CopySourceToClipboard()">
        複製來源網址
      </button>
      <mat-form-field appearance="fill">
        <mat-label>處理進度</mat-label>
        <mat-select
          (selectionChange)="onSelectionChange($event)"
          [value]="photo.process_state || 'NOT_STARTED'">
          <mat-option value="NOT_STARTED">未開始</mat-option>
          <mat-option value="STARTED">處理中</mat-option>
          <mat-option value="FINISHED">已完成</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <canvas width=1 height=1 #canvas
      (mousedown)="onMouseEvent($event, 'down')"
      (mousemove)="onMouseEvent($event, 'move')"
      (mouseup)="onMouseEvent($event, 'up')"
      (click)="onClickCanvas($event)"
      ></canvas>
  </div>
</div>

<div *ngIf="error">
  <mat-icon color="warn">error</mat-icon> {{ error }}
</div>
