<style>
</style>

<!-- Toolbar -->
<div>
  <mat-toolbar color="primary">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/upload" >上傳圖片</button>
      <button mat-menu-item routerLink="/process" >處理圖片</button>
      <hr>
      <button mat-menu-item routerLink="/profile" >帳號設定</button>
      <button mat-menu-item routerLink="/policy" >使用條款</button>

    </mat-menu>
    <span>COVID-19 足跡登錄工具</span>
    <span class="spacer"></span>
  </mat-toolbar>
</div>

<router-outlet></router-outlet>
