<div>
  <h1>
    使用條款
  </h1>
  <ol>
    <li>
      此應用程式的用途是幫助降低維護足跡的困難度。請不要上傳非政府單位公布的足跡圖片。
    </li>
    <li>
      <b>資料收集</b><br>
      <ol>
        <li>
          此應用程式使用 Google IAP 驗證，你的 email 帳號會被記錄，用來做身份識別。
        </li>
        <li>
          上傳的圖片和上傳者資訊會在伺服器上保留一年。
        </li>
      </ol>
    </li>
    <li>
      本條款可由 <b><a href="https://tinyurl.com/taiwan-g0v-covid-19-traces">COVID-19 案例活動史共筆</a></b> 維護社群討論後更改。<br>
      社群 discord 群組：<a href="https://discord.gg/ePKuRGE9sF">https://discord.gg/ePKuRGE9sF</a>
    </li>
  </ol>

  <p> 本條款同時記錄在專案的
    <a href="https://github.com/Stimim/covid-trace-helper/wiki/%E4%BD%BF%E7%94%A8%E6%89%8B%E5%86%8A" target="_blank">
      Github Wiki
    </a>。
  </p>
</div>
