<mat-sidenav-container>
  <mat-sidenav mode="side" opened class="sidenav">
    <form [formGroup]="formGroup" class="search-form">
      <mat-form-field>
        <mat-label>日期</mat-label>
        <input
          matInput
          [matDatepicker]="picker"
          formControlName="date"

          required
          name="date"
          >
          <mat-hint>圖片的公佈日期</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
      </mat-form-field><br>

      <mat-form-field class="region-input">
        <mat-label>縣市</mat-label>
        <input
          matInput
          formControlName="region"
          placeholder="台北市"
          [matAutocomplete]="autocompleteRegion"
          name="source">
        <mat-autocomplete #autocompleteRegion="matAutocomplete">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field><br>
      <button
        mat-raised-button
        color="primary"
        (click)="Search()"
        [disabled]="!formGroup.valid"
        >
        Search
      </button>
    </form>
    <mat-divider></mat-divider>
    <form [formGroup]="photoEditorFormGroup" class="search-form">
      <mat-form-field>
        <mat-label>字體大小</mat-label>
        <input
          matInput
          formControlName="fontSize"
          type="number"
          >
      </mat-form-field><br>
      <mat-slide-toggle formControlName="showBoundary">顯示垂直分割線</mat-slide-toggle><br>
      <mat-slide-toggle formControlName="showBoundingBox">顯示文字辨識外框</mat-slide-toggle><br>
    </form>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-accordion multi>
      <mat-expansion-panel hideToggle *ngFor="let photo of photoList">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <ng-container [ngSwitch]="photo.process_state">
              <span *ngSwitchCase="'NOT_STARTED'" class="not-started">
                未開始
              </span>
              <span *ngSwitchCase="'STARTED'" class="started">
                處理中
              </span>
              <span *ngSwitchCase="'FINISHED'" class="finished">
                已完成
              </span>
            </ng-container>
            {{ photo.region }} {{ photo.date }}
          </mat-panel-title>
          <mat-panel-description>
            <code>{{ photo.checksum }}</code>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <ng-template matExpansionPanelContent>
          <app-photo-editor
            [photo]="photo"
            [formGroup]="photoEditorFormGroup"
            ></app-photo-editor>
        </ng-template>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-sidenav-content>
</mat-sidenav-container>
