<div class="upload-panel">
  <form [formGroup]="form_group">
    <input
      class='file-input'
      type="file"
      name="image[]"
      accept="image/png, image/jpeg"
      (change)="onFileChange($event)"
      required
      multiple>
    <br>

    <mat-form-field>
      <mat-label>日期</mat-label>
      <input
        matInput
        [matDatepicker]="picker"
        formControlName="date"

        required
        name="date"
        >
        <mat-hint>圖片的公佈日期</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field><br>

    <mat-form-field class="region-input">
      <mat-label>縣市</mat-label>
      <input
        matInput
        formControlName="region"
        placeholder="台北市"
        [matAutocomplete]="autocompleteRegion"
        required
        name="source">
      <mat-autocomplete #autocompleteRegion="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field><br>

    <mat-form-field class="source-input">
      <mat-label>來源</mat-label>
      <input
        matInput
        formControlName="source"
        placeholder="https://..."
        type="url"
        required
        name="source">
      <mat-hint>圖片的來源網址，如衛生福利部粉專的貼文</mat-hint>
    </mat-form-field><br>

    <button
      mat-raised-button
      color="primary"
      (click)="Upload()"
      [disabled]="!form_group.valid || !file_list || file_list.length == 0"
    >
      Upload
    </button>
  </form>
</div>
